.home-wrapper {
    padding: min(1em, 3%);
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    text-align: center;
    align-items: center;
    overflow-x: hidden;
  }

  .part1{
    text-align: center;
    position: static;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    max-width: 100%;
    height: 65vw;
    flex-shrink: 0;
    background-color: #1E1E1E;
    box-sizing: border-box;
    margin: 0px 0px 0px;
    padding-top: 90px;
    overflow-x:hidden;
    overflow-y: hidden;
  }
  .home-wrapper h1{
    text-align: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: #DEC96B;
    font-family: "Jersey 10";
    font-size: clamp(0.5rem, calc(2vw + 1rem), 3rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .home-wrapper h2{
    text-align: center;
    margin-left: auto;
    height: auto;
    width: 100%;
    font-family: "Jersey 25";
    font-size: clamp(0.5rem, calc(12vw + 0.5rem), 20rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(90deg, #DEBD2B 0%, #D9D4C0 50.5%, #DEBD2B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0rem;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .robo-logo {
    display: flex;
    height: clamp(20rem, calc(10vw+1rem), 40rem);
    width: 100%;
    position: relative;
    top: 0px;
    padding-top: 0vw;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }

  .robo-logo:hover {
    display: flex;
    width: 552px;
    height: 828px;
    padding: 0px 213px 733px 213px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .part2 {
    width: 100%;
    height: 1750px;
    flex-shrink: 0;
    box-sizing: border-box;
    background-color: #1E1E1E;
    position:static;
    top: 982px;
    right: 0px;
    left: 0px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .home-wrapper h3{
    width: 100%;
    height: auto;
    flex-shrink: 0;
    color: #DEC96B;
    font-family: "Jersey 10";
    font-size: clamp(0.5rem, calc(6vw + 0.5rem), 4rem);
    font-weight: 400;
    text-align:center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .subpart1{
    display: flex;  
    margin-top: 0vw;             
    padding: 0.5vw;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: hidden;
    align-items: center;
  }

  .subpart1 p{
    display: flex;
    width: min(540px, 100%);
    height: auto;
    flex-direction: column;
    justify-content: left;
    flex-shrink: 0;
    color: #ACAAA0;
    font-family: "Roboto";
    font-size: clamp(0.5rem, calc(0.5vw + 0.5rem), 2rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: auto;
    position: relative;
    text-align: left;
    overflow-y: visible;
  }

  .image1 {
    width: full;
    height: full;
    flex-shrink: 0;
    aspect-ratio: 437.99/248.00;
    position: relative;
    margin-right: 9vw;
    margin-left: auto;
    max-width: 100%;
  }

  .home-wrapper h5{
    width: 100%;
    height: auto;
    position: relative;
    top: 50px;
    flex-shrink: 0;
    color: #DEC96B;
    font-family: "Jersey 10";
    font-size: clamp(0.5rem, calc(6vw + 0.5rem), 4rem);
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
  }
  .subpart2{
    display: flex;               
    padding: 0.5vw;
    gap: 1rem;    
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: hidden;
    justify-content: center;
  }
  .image2{
    height: full;
    flex-shrink: 0;
    aspect-ratio: 487.29/310.00;
    position: relative;
    top: 20px;
    margin-left: 9vw;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  .subpart2 p{
    display: flex;
    width: min(486px, 100%);
    height: auto;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: left;
    color: #ACAAA0;
    font-family: "Roboto";
    font-size: clamp(0.5rem, calc(0.5vw + 0.5rem), 2rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }

  .subpart3{
    display:flex;
    flex-direction: column;
    gap: 2rem;               
    padding: 0.5rem;  
    overflow-y: hidden;
  }

  .home-wrapper h6{
    width: 100%;
    height: auto;
    flex-shrink: 0;
    color: #DEC96B;
    font-family: "Jersey 10";
    font-size: clamp(0.5rem, calc(6vw + 0.5rem), 4rem);
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    position: relative;
    top: 50px;
  }

  .subpart3 p{
    display: flex;
    height: auto;
    width: 100%;
    max-width: 40rem;
    flex-shrink: 0;
    color: #ACAAA0;
    text-align: center;
    font-family: "Roboto";
    font-size: clamp(0.5rem, calc(0.5vw + 0.5rem), 2rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    overflow-y: hidden;
  }
  .blog-part{
    display: flex;
    text-align: center;
    position: relative;
    width: auto;
    max-width: 50rem;
    height: 7rem;
    min-height: 3rem;
    flex-shrink: 0;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #D9D9D9;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
  }
