.home-wrapper {
    padding-top: 0%;
    text-align: center;
    align-items: center;
    overflow-x: hidden;
  }

  .part1{
    text-align: center;
    position: static;
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    height: 884px;
    flex-shrink: 0;
    background-color: #1E1E1E;
    box-sizing: border-box;
    margin: 0px 0px 0px;
    padding-top: 90px;
    overflow-x:hidden;
    overflow-y: hidden;
  }
  .home-wrapper h1{
    text-align: center;
    width: 479px;
    height: 50px;
    flex-shrink: 0;
    color: #DEC96B;
    font-family: "Jersey 10";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .home-wrapper h2{
    text-align: center;
    margin-left: auto;
    height: 162px;
    width: auto;
    font-family: "Jersey 25";
    font-size: 175px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(90deg, #DEBD2B 0%, #D9D4C0 50.5%, #DEBD2B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .robo-logo {
    display: flex;
    height: 1519.5px;
    width: auto;
    position: relative;
    top: 0px;
    padding-top: 0px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 1013.00/1519.50;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }

  .robo-logo:hover {
    display: flex;
    width: 552px;
    height: 828px;
    padding: 0px 213px 733px 213px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .part2 {
    width: 100%;
    height: 1800px;
    flex-shrink: 0;
    box-sizing: border-box;
    background-color: #1E1E1E;
    position:static;
    top: 982px;
    right: 0px;
    left: 0px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .home-wrapper h3{
    width: 220px;
    height: 69px;
    flex-shrink: 0;
    color: #DEC96B;
    font-family: "Jersey 10";
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
  }
  .subpart1{
    height: 310px;
    display: flex;               
    padding: 0px;
    align-items: center;
    gap: 50px;  
    overflow-y: hidden;
    position: relative;

  }
  .home-wrapper h4{
    width: 260.037px;
    height: 57.156px;
    flex-shrink: 0;
    color: #ACAAA0;
    font-family: "Roboto";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 200px;
    position: relative;
    top: 90px;
    text-align: left;
  }

  .home-wrapper p{
    display: flex;
    width: 540px;
    height: 248px;
    flex-direction: column;
    justify-content: left;
    flex-shrink: 0;
    color: #ACAAA0;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 200px;
    position: relative;
    top: 50px;
    text-align: left;
  }

  .image1 {
    width: 437.988px;
    height: 248px;
    flex-shrink: 0;
    aspect-ratio: 437.99/248.00;
    position: relative;
    margin-right: 200px;
    margin-left: auto;
  }

  .home-wrapper h5{
    width: 400px;
    height: 69px;
    position: relative;
    top: 50px;
    flex-shrink: 0;
    color: #DEC96B;
    font-family: "Jersey 10";
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
  }
  .subpart2{
    display: flex;               
    padding: 20px;
    align-items: center;
    gap: 50px;    
    margin-top: 30px;
  }
  .image2{
    width: 487.295px;
    height: 310px;
    flex-shrink: 0;
    aspect-ratio: 487.29/310.00;
    position: relative;
    top: 20px;
    margin-left: 200px;
    margin-right: auto;
  }
  .home-wrapper p2{
    display: flex;
    width: 486px;
    height: 234px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: left;
    color: #ACAAA0;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    margin-right: 200px;
    margin-left: auto;
  }
  
  .home-wrapper h6{
    width: 230px;
    height: 69px;
    flex-shrink: 0;
    color: #DEC96B;
    font-family: "Jersey 10";
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    position: relative;
    top: 50px;
  }
  .home-wrapper p3{
    display: flex;
    height: 234px;
    flex-shrink: 0;
    color: #ACAAA0;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 50px;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
    overflow-y: hidden;
  }
  .blog-part{
    display: flex;
    text-align: center;
    position: relative;
    width: 1096px;
    height: 230px;
    flex-shrink: 0;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #D9D9D9;
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 200px;
    overflow-y: scroll;
  }
  