.footer-wrapper{
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: hidden;
}

.subfooter1{
    display: block;
    justify-content: left;
    align-items: flex-end;
}

.subfooter1 h1{
    width: 100%;
    height: auto;
    flex-shrink: 0;
    color: #DEC96B;
    font-family: "Jersey 10";
    font-size: clamp(0.5rem, calc(10vw + 0.5rem), 7rem);
    font-style: normal;
    font-weight: 400;
    padding-top: 0px;
    line-height: normal;
    margin-left: 10px;
    padding-bottom: 10px;
    text-align: center;
    overflow-y: hidden;
}

.social-media-icons{
    display: flex;
    gap: 0px;
    list-style: none;
    margin-top: 0px;
}

.IN2{
    width:  45px;
    height: 45px;
}

.IN2:hover{
    filter: drop-shadow(0px 0px 0.5em #DEBD2B);
}

.IG2{
    width:  45px;
    height: 45px;
}

.IG2:hover{
    filter: drop-shadow(0px 0px 0.5em #DEBD2B);
}

.YT2{
    width:  45px;
    height: 45px;
}

.YT2:hover{
    filter: drop-shadow(0px 0px 0.5em #DEBD2B);
}

.GH2{
    width:  45px;
    height: 45px;
}

.GH2:hover{
    filter: drop-shadow(0px 0px 0.5em #DEBD2B);
}

.DS{
    width:  45px;
    height: 45px;
}

.DS:hover{
    filter: drop-shadow(0px 0px 0.5em #DEBD2B);
}

.subfooter2{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    margin-top: 20px;
}

.subfooter2 h2{
    display: flex;
    width: auto;
    height: auto;
    flex-shrink: 0;
    color: #DEC96B;
    text-align: right;
    font-family: "Roboto";
    font-size: clamp(0.5rem, calc(2vw + 0.5rem), 3rem);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 0.5rem;
}

.subfooter2 p{
    display: flex;
    width: 250px;
    height: auto;
    flex-shrink: 0;
    color: #DEC96B;
    text-align: right;
    font-family: "Roboto";
    font-size: clamp(0.5rem, calc(0.5vw + 0.5rem), 2rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow-y: hidden;
}

.subfooter2 a{
    display: flex;
    width: auto;
    height: 1rem;
    flex-shrink: 0;
    color: #DEC96B;
    text-align: right;
    font-family: "Roboto";
    font-size: clamp(0.5rem, calc(0.5vw + 0.5rem), 2rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow-y: hidden;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .footer-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      text-align: center;
      padding-left: 0.5vw;  
    }
  }